<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Ninja Newsletter Blog</h1>
    <p class="lead">Everything Ninja is here</p>
  </div>
</div>
<div class="card blog-post">
  <h5 class="card-header">Avoiding the Yakuza and what to do if you can't.</h5>
  <div class="card-body">
    <h5 class="card-title">February 12, 2018</h5>
    <p class="card-text">   During the formation of the yakuza, they adopted the traditional Japanese hierarchical structure of oyabun-kobun where kobun (子分; lit. foster child) owe their allegiance to the oyabun (親分, lit. foster parent). In a much later period, the code of jingi (仁義, justice and duty) was developed where loyalty and respect are a way of life.

    The oyabun-kobun relationship is formalized by ceremonial sharing of sake from a single cup. This ritual is not exclusive to the yakuza—it is also commonly performed in traditional Japanese Shinto weddings, and may have been a part of sworn brotherhood relationships[...]</p>
    <a href="#" class="btn btn-outline-danger">More</a>
  </div>
</div>
<div class="card blog-post">
  <h5 class="card-header">Sword choice, correlation of weight and durability.</h5>
  <div class="card-body">
    <h5 class="card-title">February 5, 2018</h5>
	    <p class="card-text">The ninjatō is typically depicted as being a short sword, often portrayed as having a straight blade (similar to that of a shikomizue) with a square guard. Usually of a length "less than 60 cm", the rest of the sword is comparatively "thick, heavy and straight". Despite the disputed historical existence of the ninjato, Hayes claims to describe it in detail, and suggests that the typical description of the ninjatō could be due to ninja having to forge their own blades from slabs of steel or iron with the cutting edge being ground on a stone, with straight blades being easier to form than the much[...]</p>
    <a href="#" class="btn btn-outline-danger">More</a>
  </div>
</div>
<div class="card blog-post">
  <h5 class="card-header">Ninja code. scripture or guideline?</h5>
  <div class="card-body">
    <h5 class="card-title">January 29, 2018</h5>
    <p class="card-text">
			The ninja also known as Shinobi had a set of rules which defined the way they operated and helped maintain their high stature and position in the feudal Japanese system. The code of conduct was important in helping the warriors keep their cool and not endanger the mission unnecessarily. The most important thing was for the Shinobi to be instrumental[...]</p>
    <a href="#" class="btn btn-outline-danger">More</a>
  </div>
</div>
<div class="card blog-post">
  <h5 class="card-header">How to keep your identity hidden from even your closest friends.</h5>
  <div class="card-body">
    <h5 class="card-title">January 22, 2018</h5>
	    <p class="card-text"> A great evil threatens the world, and a great good--you--arises to stop it. Twitter and Instagram are set ablaze with stories of this heroic battle before the news media even has a chance to get on the scene. Collateral damage and casualties are high, but would have been much worse if not for your history-changing intervention.

			Later on, some tinfoil-hat schmuck[...]</p>
    <a href="#" class="btn btn-outline-danger">More</a>
  </div>
</div>