<h1 id="contact-header">Contact us</h1>
<form id="contact-us" action="/contact"> <!-- method="POST" -->
  <div class="form-group">
    <label for="email">Email address</label>
    <input id="email" class="form-control" type="text" name="email" placeholder="Your Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <form action="/contact" method="POST">
  <div class="form-group">
    <label for="title">Subject</label>
    <input id="title" class="form-control" type="text" name="title" placeholder="Message Title">
  </div>
  <div class="form-group">
    <label for="message-box">Message</label>
    <textarea id="message-box" class="form-control" rows="3" type="text" name="message" placeholder="Message"></textarea>
  </div>
  <input type="submit" value="Submit">
</form>
