<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/black-ninja-sword.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Each sword is constructed with one solid piece of black anodized 420 stainless steel.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="shoes-card" class="card-img-top" src="../images/ninja-shoes.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Top One Shoes for Martial arts, Kungfu, Parkour practices. Rugged canvas design for grip.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="claw-card" class="card-img-top" src="../images/ninja-hand-claws.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Heavy Duty Steel Construction with Midnight Black Finish. Adjustable Wrist Strap.</p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/ninja-hood.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Adjustable hood for tactical manuevers. Breathable material to keep you comfortable.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="shoes-card" class="card-img-top" src="../images/ninja-knife.webp" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Small titanium knife allows for quick draw and stealth placement.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="claw-card" class="card-img-top" src="../images/ninja-gauntlets.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Lightweight structured gauntlets protect with minimal hinderance.</p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/ninja-boots.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Boots offer more protection for ankle and shin area.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="shoes-card" class="card-img-top" src="../images/ninja-grapple.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Grapple supports up to 325lbs. Lightweight nylon rope allows for maximum throwing distance.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="claw-card" class="card-img-top" src="../images/ninja-throwing-knife.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Extremely effective ranged weapon. weighted for best distance.</p>
        </div>
      </div>
    </div>
  </div>
</div>