
<div id="jumbo-home" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ninja Newsletter</h1>
    <p class="lead">Keeping you up to date on the latest Ninja apparel, gear, and weapons.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/black-ninja-sword.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Each sword is constructed with one solid piece of black anodized 420 stainless steel.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="shoes-card" class="card-img-top" src="../images/ninja-shoes.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Top One Shoes for Martial arts, Kungfu, Parkour practices. Rugged canvas design for grip.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="claw-card" class="card-img-top" src="../images/ninja-hand-claws.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Heavy Duty Steel Construction with Midnight Black Finish. Adjustable Wrist Strap.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="jumbo-home-2" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-right">Check out our new blog</h1>
    <div id="image-link">
      <a href="/about">
        <img class="writing-ninja" src="../images/writing-ninja.jpg" alt="">
        <div class="overlay-link">
          <div class="overlay-text">Blog Page</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="card blog-post">
  <h5 class="card-header">Avoiding the Yakuza and what to do if you can't.</h5>
  <div class="card-body">
    <h5 class="card-title">February 12, 2018</h5>
    <p class="card-text">   During the formation of the yakuza, they adopted the traditional Japanese hierarchical structure of oyabun-kobun where kobun (子分; lit. foster child) owe their allegiance to the oyabun (親分, lit. foster parent). In a much later period, the code of jingi (仁義, justice and duty) was developed where loyalty and respect are a way of life.

    The oyabun-kobun relationship is formalized by ceremonial sharing of sake from a single cup. This ritual is not exclusive to the yakuza—it is also commonly performed in traditional Japanese Shinto weddings, and may have been a part of sworn brotherhood relationships[...]</p>
    <a href="#" class="btn btn-outline-danger">More</a>
  </div>
</div>